<ion-view>
  <ion-content>

<div id="map" style="width: 100%; height: 300px;"></div>

	  <div class="padding">

<div class="list card">

  <a href="tel:0116 2 514 513" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Customer Services<p>0116 2 514 513<br><b>Mon-Fri:</b> 09:00 - 17:25<br><b>Sat:</b> 09:00 - 17:00<br><b>Sun:</b> 10:00 - 16:00</p>

  </a>

</div>
<div class="list card">

  <a href="tel:0116 2 514 513" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Arranging Delivery<p>0116 2 514 513<br><b>Mon-Fri:</b> 09:00 - 17:25<br><b>Sat:</b> 09:00 - 17:00<br><b>Sun:</b> 10:00 - 16:00</p>
  </a>

</div>
<div class="list card">

  <a href="tel:0116 2 515 515" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Sales Enquiries<p>0116 2 515 515<br><b>Mon-Fri:</b> 09:00 - 17:25<br><b>Sat:</b> 09:00 - 17:00<br><b>Sun:</b> 10:00 - 16:00</p>
  </a>

</div>
<div class="list card">

  <a href="tel:0116 242 1363" class="item item-icon-left">
    <i class="icon ion-ios-telephone"></i>
    Trade Enquiries<p>0116 242 1363<br><b>Mon-Fri:</b> 09:00 - 17:25<br><b>Sat:</b> 09:00 - 17:00<br><b>Sun:</b> 10:00 - 16:00</p>
  </a>

</div>
  </ion-content>

</ion-view>
