<ion-modal-view>
   <ion-header-bar class="bar-dark">
      <h1 class="title">Checkout</h1>
      <div class="buttons">
         <button class="button button-clear" ng-hide="orderComplete" ng-click="checkoutModal.hide()">Close</button>
      </div>
   </ion-header-bar>
   <ion-content>
     <div ng-hide="orderComplete">
        <div class="step-bar">
          <div class="step" ng-class="{stepactive: customer.step == 1}" ng-click="changeStep(1)">
              1
          </div>
          <div class="step" ng-class="{stepactive: customer.step == 2}" ng-click="changeStep(2)">
              2
          </div>
          <div class="step" ng-class="{stepactive: customer.step == 3}" ng-click="changeStep(3)">
              3
          </div>
          <div class="step" ng-class="{stepactive: customer.step == 4}" ng-click="changeStep(4)">
              4
          </div>
        </div>
        <div class="padding padding-16">
            <div ng-include="'./templates/checkout1.html'" ng-if="customer.step == 1"></div>
            <div ng-include="'./templates/checkout2.html'" ng-if="customer.step == 2"></div>
            <div ng-include="'./templates/checkout3.html'" ng-if="customer.step == 3"></div>
            <div ng-include="'./templates/checkout4.html'" ng-if="customer.step == 4"></div>
        </div>
      </div>
      <div ng-show="orderComplete" style="text-align: center;" class="padding padding-16">
        <div ng-show="orderSuccess">
          <h1>Thanks for your order!</h1>
          <p>Your order reference is <b>{{orderNumber}}</b></p>
          <p>You will recieve full details of your order by email.</p>
          <button class="button button-block button-me add-to-cart" ng-click="done()">
          Done
          </button>
        </div>
        <div ng-show="orderFailure">
          <h1>Sorry, there's been an error.</h1>
          <p>Please try again or contact support for more assistance.</p>
          <button class="button button-block button-me add-to-cart" ng-click="done()">
          OK
          </button>
        </div>
      </div>
   </ion-content>
</ion-modal-view>