<ion-view style="background: #0097ff" view-title="{{category.name}}">
  
  <ion-content>

    <div class="row responsive-sm padding">
      <div class="col-50 col-offset-25" style="margin-top: 10px;">
        <div class="category-item-container shadow" ng-repeat="category in category.children" ng-style="{'background-image' : 'url( {{category.imageUrl}} )'}">
          <div ng-click="productService.goToCategory(category)" class="category-item">
            <h2>{{category.name}}</h2>
            <p>view products <i class="icon ion-chevron-right"></i></p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
