<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-light">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-ios-cart" style="position: relative;" menu-toggle="right">
                    <div class="cart-counter" ng-show="line.length">{{line.length}}</div>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" is-enabled="isEnabled()">
        <ion-header-bar class="bar-dark">
            <h1 class="title">Menu</h1>
        </ion-header-bar>
        <ion-content ng-controller="MenuCtrl" style="background: #eee;">
            <ion-list>
                <ion-item menu-close class="item-icon-left" href="#/app/home">
                    <i class="icon ion-home"></i>
                    Home
                
                </ion-item>
                <ion-item menu-close class="item-icon-left" href="#/app/browse">
                    <i class="icon ion-ios-telephone"></i>
                    Contact
                
                </ion-item>
                <ion-item class="item-icon-left">
                    <i class="icon ion-android-locate"></i>
                    Track Order <span style="font-size: 10px; color: red;">coming soon!</span>
                
                </ion-item>
                <ion-item class="item-icon-left">
                    <i class="icon ion-locked"></i>
                    Trade Login <span style="font-size: 10px; color: red;">coming soon!</span>
                
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu ng-controller="MenuCtrl" side="right" style="background: #eee;">
        <ion-header-bar class="bar-dark">
            <h1 ng-if="!cart.length && !recentProducts.length" class="title">Cart Empty</h1>
            <h1 ng-if="!cart.length && recentProducts.length" class="title">Recent Products</h1>
            <h1 ng-if="cart.length" class="title">Cart</h1>
        </ion-header-bar>
        <ion-content>
            <div ng-hide="cart.length">
                <div ng-show="recentProducts.length">
                    <ion-slides slider="data.slider">
                        <ion-slide-page class="padding-16" ng-repeat="product in recentProducts">
                            <div style="margin: 0px 0px 40px 0px;" class="card product-card">
                                <div class="item recent-product-img item-image">
                                    <div style="z-index: -1; padding-top: 100%; position: relative;">
                                        <ion-spinner icon="crescent" class="text-center spinner-placeholder"></ion-spinner>
                                    </div>
                                    <img ng-src="{{product.images[0]}}"/>
                                </div>
                                <div class="item">
                                    <div ng-click="productService.goToProduct(product)">
                                        <h2>{{product.name}}</h2>
                                        <p>
                                            {{product.price | currency : '£'}}
                                         
                                            <span ng-show="product.stock" class="balanced">
                                                <i class="icon ion-checkmark"></i>
                                                In stock
                                            
                                            </span>
                                            <span ng-hide="product.stock" class="assertive">
                                                <i class="icon ion-close"></i>
                                                Out of stock
                                            
                                            </span>
                                        </p>
                                        <div ng-if="product.rating">
                                            <stars rating="product.rating"></stars>
                                            ({{product.numberOfReviews}})
                                        </div>
                                    </div>
                                    <button class="button button-block button-balanced button-small" ng-click="cartService.addToCartByObject(product)" ng-disabled="cartService.isProductInCart(currentProduct.sku)">Add to Cart
                           </button>
                                </div>
                            </div>
                        </ion-slide-page>
                    </ion-slides>
                </div>
            </div>

            <div class="list">
                <div ng-repeat="product in cart" style="margin-bottom: 10px;">
                    <div class="item item-thumbnail-left text-ellipsis">
                        <img ng-click="setProduct(product)" ng-src="{{product.images[0]}}">
                        <h2>{{product.name}}</h2>
                        <p>{{product.price | currency : '£'}}</p>
                        <div class="button-bar">
                            <button class="button icon icon ion-minus-round button-small" ng-click="cartService.quantityDown(product.sku)"></button>
                            <div class="quantity">{{product.quantity}}</div>
                            <button class="button icon icon ion-plus-round button-small" ng-click="cartService.quantityUp(product.sku)"></button>
                            <button class="button icon icon ion-close button-assertive button-small" ng-click="cartService.removeFromCart(product.sku)"></button>
                        </div>
                    </div>
                </div>

                <div class="padding" ng-show="cart.length">
                <button class="button button-block button-balanced" style="margin: 0px;" ng-click="checkoutModal.show()">
                    Checkout ({{cartService.total() | currency : '£'}})
                </button>
                </div>

            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
