<ion-view>

    <ion-nav-title>
        <img class="title-image" src="img/logo.png"/>
    </ion-nav-title>

   <ion-content class="product-page-margin" style="background: #fff">

      <ion-slides options="options" slider="data.slider" class="product-slide-box" ng-class="{shrink: tab !== 1}">
        <ion-slide-page ng-repeat="image in product.images">
          <div class="spinner-container">
              <ion-spinner icon="crescent" class="text-center spinner-placeholder"></ion-spinner>
          </div>
          <img ng-src="{{image}}" class="product-img">    
        </ion-slide-page>
      </ion-slides>

      <div ng-show="tab == 1">
         <div class="item item-text-wrap">
            <h2 ng-click="productService.goToProduct(product)">{{product.name}}</h2>
            <p>{{product.price | currency : '£'}} <span ng-show="product.stock" class="balanced"> <i class="icon ion-checkmark"></i>In stock</span><span ng-hide="product.stock" class="assertive"> <i class="icon ion-close"></i>Out of stock</span></p>
            <div ng-if="product.averageRating">
               <stars rating="product.averageRating"></stars>
               ({{product.numberOfReviews}})
            </div>
         </div>
         <div class="item">
            <button class="button button-block button-balanced" style="margin: 0px;" ng-click="cartService.addToCartByObject(product)" ng-disabled="cartService.isProductInCart(product.sku)">
            <span ng-show="cartService.isProductInCart(product.sku)"><i class="icon ion-checkmark"></i> Added to your Cart</span><span ng-hide="cartService.isProductInCart(product.sku)">Add to Cart</span>
            </button>
         </div>
         <div class="list">
            <div class="item item-divider">
               Summary
            </div>
            <div id="summary" ng-bind-html="product.summary"></div>
            <div class="item item-divider" ng-if="product.description">
               Description
            </div>
            <div ng-if="product.description" ng-bind-html="product.description" class="item item-text-wrap"></div>
         </div>
      </div>
      </div>
      <div ng-show="tab == 2">
         <div class="list">
            <div class="item item-divider">
               Reviews
            </div>
            <div class="item text" href="#" ng-if="product.reviewData.length" ng-repeat="review in product.reviewData">
               <p class="text-left">
                  <stars rating="review.Rating"></stars>
               </p>
               <h2>{{review.UserNickname}}, {{review.UserLocation}} - <span am-time-ago="review.SubmissionTime | amParse:'YYYY-MM-DD HH:mm:ss'"></span></h2>
               <p>{{review.ReviewText}}</p>
            </div>
            <div ng-if="!product.reviewData.length" class="item text text-center">
               <h2>No Reviews</h2>
            </div>
         </div>
      </div>
      <div ng-show="tab == 3">
         <div class="list">
            <div class="item item-divider">
               Delivery
            </div>
            <div class="item text" href="#">
               <p>This item is In Stock at our warehouse and ready for immediate delivery.</p>
               <p>We usually offer next day delivery to most parts of England and Wales, and unlike many of our competitors we also offer free weekend deliveries.</p>
               <p>In the East Midlands, we also provide same day delivery, subject to availability.</p>
               <p>We’ll give you a 2 hour timeslot the evening before your delivery date, so you'll know what time we’ll be at your address. (Note: For evening/same day deliveries, you will receive your timeslot in the afternoon on the day of your delivery.)</p>
            </div>
            <div class="item item-divider">
               Click and Collect from our Warehouse
            </div>
            <div class="item text" href="#">
               <p>This item is In Stock at our warehouse and ready for immediate delivery.</p>
               <p>We usually offer next day delivery to most parts of England and Wales, and unlike many of our competitors we also offer free weekend deliveries.</p>
               <p>In the East Midlands, we also provide same day delivery, subject to availability.</p>
               <p>We’ll give you a 2 hour timeslot the evening before your delivery date, so you'll know what time we’ll be at your address. (Note: For evening/same day deliveries, you will receive your timeslot in the afternoon on the day of your delivery.)</p>
            </div>
         </div>
      </div>
   </ion-content>
   <div class="tabs-background-positive tabs-color-light tabs-striped">
      <div class="tabs tabs-icon-top">
         <a class="tab-item" ng-class="{active: tab == 1}" ng-click="tab = 1">
         <i class="icon ion-pricetags"></i>
         Specs
         </a>
         <a class="tab-item" ng-class="{active: tab == 2}" ng-click="tab = 2">
         <i class="icon ion-star"></i>
         Reviews
         </a>
         <a class="tab-item" ng-class="{active: tab == 3}" ng-click="tab = 3">
         <i class="icon ion-information-circled"></i>
         More
         </a>
      </div>
   </div>
</ion-view>